# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/

# Database
*.db
*.sqlite

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Исключение для папки данных (кроме структуры)
data/*
!data/images/
!data/.gitkeep
